.toggleButton{
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: black;
  padding: 8px;
  font-size: large;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 90px;
  z-index: 3000;
}
.sidebar{
  background-color: purple;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-weight: bolder;
  width: 300px;
  height: 100vh;
  .link{
    color: white !important;
    text-decoration: none;
  }
}

